<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        body {color: #efd; background: #453; padding: 0 5em; margin: 0}
        h1 { padding: 2em 1em; background: #675}
        h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em }
        p { margin: 1em 0 }
        a { text-decoration: none }
        .nav-bar {background: #675}
        .nav-bar a { text-decoration: none; color: #bf8}
    </style>
</head>
<body>
    <div class="header">
        <h1>Krishnan's blog</h1>
    </div>
    <div class="nav-bar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'archive' %}">Archive</a>
    </div>
        {% block content %}
        {% endblock %}
    <div class="footer">
        <hr>
        <p>This site is powered by django</p>
    </div>
</body>
</html>
